
body{
    text-align: center;
    background: linear-gradient(to bottom, #3eaa20,#1a5705);
}
h1{
    text-align: center;
    border: 0.5cm solid black;
    border-radius: 10cm;
    background:radial-gradient( rgb(99, 95, 95),rgb(93, 93, 199));
    color: rgb(250, 243, 233);
}
.ganador {
    margin-top: 30px;
    text-align: center;
    border: 0.5cm solid rgb(226, 213, 35);
    border-radius: 5cm;
    background-color: blue
}
.perdedor {
    margin-top: 30px;
    text-align: center;
    border: 0.5cm solid red;
    border-radius: 5cm;
    background-color: black;
    color : white;
}

#juego-refresh{
    display: flex;
    flex-direction: inline;
    justify-content: center;
}
#player {
    border: 0.5cm solid rgb(7, 7, 7);;
}
#boton-iniciar{
    margin-top: 15px;
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-pedir button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-pedir-dealer button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-pedir-nueva button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-plantarse button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-pedir-carta-nueva-dealer button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-plantarse-dealer button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-pedir-ultima button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#boton-pedir-ultima-carta-dealer button{
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#refresh button{
    margin-top: 15px;
    border: 0.2cm solid blue;
    border-radius: 10cm;
}
#imagenes-primera-carta-mano{
    display :inline-block;
    padding-top: 30px;
    font-style: italic;
}
#primera-carta-player{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}

#imagenes-segunda-carta-mano{
    display :inline-block;
    font-style: italic;
}
#segunda-carta-player{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}
#tercera-carta-player{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}
#ultima-carta-player{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}
#resultado-suma-mano{
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline;
   
}
#boton-pedir{
    margin-top: 24px;
}
#boton-pedir-dealer{
   margin-top: 10px;
   margin-bottom: 10px;
}

#imagenes-primera-carta-dealer{
    display :inline-block;
    font-style: italic;
}
#primera-carta-deal{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}
#segunda-carta-deal{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}
#tercera-carta-deal{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}
#ultima-carta-deal{
    border: 0.1cm solid rgb(48, 48, 54);
    font-weight: 1000;
}
#imagenes-segunda-carta-dealer{
    display :inline-block;
    font-style: italic;
}
#imagenes-primera-carta-dealer img{
    padding-left: 50px;
}
#imagenes-segunda-carta-dealer img{
    padding-right: 50px;
}
#resultado-suma-dealer{
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline;
}
#imagenes-nueva-carta-mano{
    display: inline-block;
    font-style: italic;
}
#imagenes-nueva-carta-dealer{
    display: inline-block;
    font-style: italic;
}
#imagenes-ultima-carta-mano{
    display: inline-block;
    font-style: italic;
}
#imagenes-ultima-carta-dealer{
    display: inline-block;
    font-style: italic;
}
#ingresar-puntaje {
    margin-top: 15px;
}
#pagina-juego {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 0.2cm solid rgb(90, 30, 158);
    width: 200px;
    height: auto;
    margin: 0 auto;
}
#parrafo-juego{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 0.2cm solid rgb(30, 60, 158);
    border-radius: 10cm;
    width: 350px;
    height: auto;
    margin: 0 auto;
    padding-top: 15px;
    margin-top: 10px;
}
#parrafo-juego a {
    font-weight: 300
}
#parrafo-juego h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline;
}